*{
  font-family: 'Open Sans', sans-serif;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #0F5298 30%, #0d8aee 100%);
  position:fixed;
  width:100%;
  z-index: 1;
}

.nav-title{
  font-size: 1.8rem;
  font-weight: bold;
  color:#FFFF;
  margin-left:4rem;
}

.nav-items{
  margin-right:1rem;
}

.nav-items ul{
  display: flex;
}

.nav-items li{
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  text-align: center;
  list-style: none;
}

.nav-items li a{
  color:#FFFF;
  text-decoration: none;
  display: block;
}

.nav-items li a:hover{
  color: rgb(190, 187, 187);
}


.toggle-btn{
  position: absolute;
  top: 0.7rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  color:#FFFF;
}


.nav-items-toggle{
  margin-right:1rem;
}

.nav-items-toggle ul{
  display: flex;
}

.nav-items-toggle li{
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  text-align: center;
  list-style: none;
}

.nav-items-toggle li a{
  color:#FFFF;
  text-decoration: none;
  display: block;
}

.nav-items-toggle li a:hover{
  color: rgb(190, 187, 187);
}



.about-container{
  padding:25px 0 100px 0;
  height:720px;
}

.about{
  margin:40px auto;
  display: flex;
  width:80%;
}

.photo{
  width:340px;
  height:300px;
  margin-top: 50px;
  border-radius: 50px;
}

.icons{ 
  display:flex;
  justify-content: center;
}

.about-left{
  margin-right:4rem;
  text-align: center;
}

.about-left h1{
  font-size:2.2rem;
  margin:0;
  padding:0;
  line-height:1.5em;
}

.about-left p{
  font-size: 1.2rem;
  margin:0;
  padding:0;
  line-height:1.5em;
}

.about-right h1{
  font-size:3rem;
}

.about-right p{
  font-size:1.1rem;
  line-height:1.2em;
}

.about-education-skills-container{
  display:flex;
}

.about-education-skills{
  margin-right: 3%;
  width:50%;
}

.about-education-skills h2{
  margin:0px auto 8px auto;
  padding:0;
}

.about-education-skills h4{
  margin:5px auto 5px auto;
  padding:0; 
}

.school-icon{
  vertical-align: middle;
  margin-right: 5px;
}

.about-education-skills p{
  font-size:1rem;
  margin:0 0 0 12px;
  padding:0;
  line-height:1.2em;
}

.experience-container{
  background-color: #F7F9FB;
  padding: 80px 0 80px 0;
}

.experience{
  display:flex;
  width:80%;
  margin:40px auto;
}

.experience-left h1{
  margin:0;
  font-size:2.5rem;
}

.experience-left{
  margin-right:12rem;
}

.experience-card{
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto 1rem auto;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.title{
  font-size:1.3rem;
  font-weight: bold;
  margin:0;
  padding:0;
}

.experience-card p{
  font-size: 1.1rem;
}

.experience-card li{
  font-size: 1.1rem;
  line-height: 1.6rem;
  list-style-type: square;
  padding: 3px 0 3px 0;
}


.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #0F5298;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}

.skill-container{
  width:80%;
  margin:auto;
  text-align: center;
}

.skill-flex{
  display:flex;
  justify-content: space-between;
}

.project-container{
  padding: 80px 0 80px 0;
}

.project{
  width:80%;
  margin:40px auto;
  display: flex;
}

.project-left{
  margin-right:12rem;
}

.project-left h1{
  font-size:2.5rem;
  margin:0;
  padding:0;
}

.project-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.project-card p{
  font-size:1.1rem;
  line-height: 1.6rem;
}

.project-card h3{
  margin:0;
  padding:0;
}

.code-btn{
  width:100px;
  height:35px;
  background-color: #1b67b9;
  border:none;
  margin-right: 10px;
  border-radius: 5px;
  padding:5px;
}

.code-btn-long{
  width:180px;
  height:35px;
  background-color: #1b67b9;
  border:none;
  margin-right: 10px;
  border-radius: 5px;
  padding:5px;
}

.git-icon{
  vertical-align: middle;
  padding-bottom: 10px;
  margin-right:5px;
}


.project-card a{
  font-size: 1rem;
  padding: 3px;
  color: #FFFF;
  text-decoration: none;
}

.code-btn:hover{
  background-color: #629edd;
}

.project-card{
  border-radius: 10px;
  padding: 0 1.5rem 1.5rem　1.5rem;
  margin: 0 auto 4rem auto;
  text-align: left;
}


.project-img-container{
  display:flex;
}

.project-img{
  width:420px;
  height:250px;
  margin: 20px 5px 20px 0 ;

}

.contact-container{
  background-color: #F7F9FB;
  padding: 80px 0 80px 0;
}

.contact{
  width:80%;
  margin:40px auto;
  text-align: center;
}

.contact-left h1{
  font-size:2.5rem;
}

.form-input{
  width:50%;
  height: 40px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-indent: 10px;
}

.form-textarea{
  width:50%;
  height: 200px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-indent: 10px;
}

.form-btn{
  width:10%;
  height: 40px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #1b67b9; 
  background-color: #FFFF;
  margin-top: 15px;
}

.form-btn:hover{
  color:#FFFF;
	background-color:#1b67b9;
}





@media only screen and (max-width: 500px) and (orientation: portrait){
  
  .nav-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-title{
    font-size: 1.8rem;
    font-weight: bold;
    color:#FFFF;
    margin-left:0.5rem;
    padding: 10px;
  }

  .toggle-btn{
    display: flex;
  }

  .nav-items{
    display: none;
    width:100%;
  }

  .nav-items-toggle{
    display: flex;
    width:100%;
  }

  .nav-items-toggle ul{
    width:100%;
    flex-direction: column;
    margin:0;
    padding:0;
  }

  .nav-items-toggle li{
    text-align: center;
    font-size:1rem;
    font-weight: bold;
    margin:0px auto 3px auto;
    padding:3px;
  }

  .nav-items-toggle li a{
    text-decoration: none;
    color: #FFFF;
  }

  .nav-items-toggle.active{
    display:flex;
  }

  .about-container{
    height:100%;
    width:100%;
    padding:25px 0 25px 0;
  }

  .about{
    text-align: center;
    margin:auto;
    display: block;
    width:90%;
  }
  
  .about-left{
    margin-right:0;
    text-align: center;
  }

  .about-left h1{
    font-size:1.8rem;
    margin:10px auto 10px auto;
    padding:0;
    line-height:1.5em;
  }
  
  .about-left p{
    font-size: 1rem;
    margin:0;
    padding:0;
    line-height:1.5em;
  }

  .icons{ 
    margin-top:10px;
    display:flex;
    justify-content: center;
  }

  .about-right h1{
    font-size:1.4rem;
    text-align: left;
  }

  .about-right p{
    font-size:1rem;
    line-height:1.2em;
    text-align: left;
  }

  .photo{
    width:150px;
    height:150px;
  }

  .about-education-skills-container{
    display:block;
  }

  .about-education-skills{
    margin-right: 0;
    margin-top:10px;
    width:100%;
  }
  
  .about-education-skills h2{
    font-size:1.4rem;
    margin:20px auto 10px auto;
    padding:0;
    text-align: left;
  }
  
  .about-education-skills h4{
    font-size:1rem;
    margin:5px auto 5px auto;
    padding:0; 
    text-align: left;
  }
  
  .school-icon{
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .about-education-skills p{
    font-size:0.9rem;
    margin:0 0 0 12px;
    padding:0;
    line-height:1.2em;
  }

  .experience-container{
    background-color: #F7F9FB;
    padding: 25px 0 25px 0;
  }

  .experience{
    display:block;
    width:100%;
    margin:0px auto;
  }
  
  .experience-left h1{
    margin:0 0 0 18px;
    font-size:1.4rem;
    padding:0;
  }
  
  .experience-left{
    margin-right:0;
  }

  .experience-right{
    margin:0;
    padding:0;
  }

  .timeline-date{
    margin-bottom:10px;
  }
  
  .experience-card{
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    text-align: left;
    width:100%;
  }
  
  .title{
    font-size:1rem;
    font-weight: bold;
    margin:0;
    padding:0;
  }
  
  .experience-card p{
    font-size: 0.9rem;
  }
  
  .experience-card li{
    font-size: 0.9rem;
    line-height: 1.6rem;
    list-style-type: square;
    padding: 0 0 0 0;
  }
  .timeline > li {
    overflow: hidden;
    margin: 0;
  }
  .timeline-date {
    width: 300px;
    float: left;
    margin-top: 20px;
    font-size: 1rem;
  }
  .timeline-content {
    width: 80%;
    float: left;
    border-left: none;
    padding-left: 0px;
    font-size: 1rem;
  }
  .timeline-content:before {
    display: none;
  }

  .project-container{
    padding: 20px 0 0 0;
  }

  .project{
    width:90%;
    margin:0px auto;
    display: block;
  }
  
  .project-left{
    margin-right:0;
  }
  
  .project-left h1{
    font-size:1.4rem;
    margin:0 0 15px 0px;
    padding:0;
  }
  
  .project-title{
    font-size: 1.4rem;
    margin:0 0 0 18px;
    font-weight: bold;
  }

  .project-card{
    margin:0;
    padding:0;
  }
  
  .project-card p{
    font-size:0.9rem;
    line-height: 1.6rem;
    text-align: left;
    margin:0 auto 20px auto;;
    padding:0;
  }
  
  .project-card h3{
    font-size:1rem;
    margin:0 0 0 0;
    padding:0;
    text-align: left;
  }

  .code-btn{
    width:180px;
    height:35px;
    background-color: #1b67b9;
    border:none;
    border-radius: 5px;
    padding:5px;
  }

  .button-container{
    text-align: center;
  }
  
  .code-btn-long{
    width:180px;
    height:35px;
    background-color: #1b67b9;
    border:none;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    padding:5px;
  }
  
  .git-icon{
    vertical-align: middle;
    padding-bottom: 10px;
    margin-right:5px;
  }
  
  
  .project-card a{
    font-size: 1rem;
    padding: 3px;
    color: #FFFF;
    text-decoration: none;
  }
  
  .code-btn:hover{
    background-color: #629edd;
  }
  
  .project-card{
    border-radius: 10px;
    padding: 0 1.5rem 1.5rem　1.5rem;
    margin: 0 auto 4rem auto;
    text-align: left;
  }
  
  
  .project-img-container{
    display:block;
    margin: auto;
    text-align: center;
  }
  
  .project-img{
    width: 80%;
    height:200px;
    text-align: center;
  }
  .contact-container{
    background-color: #F7F9FB;
    padding: 20px 0 20px 0;
  }
  
  .contact{
    width:100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-left h1{
    font-size:1.4rem;
  }
  
  .form-input{
    width:80%;
    height: 40px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-indent: 10px;
  }
  
  .form-textarea{
    width:80%;
    height: 200px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-indent: 10px;
  }
  
  .form-btn{
    width:40%;
    height: 35px;
    font-weight: bold;
    margin: 0px auto 20px auto;
  }
  
}


@media only screen and (max-width: 1024px) and (orientation: portrait) and (min-width: 501px){
  
  .nav-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-title{
    font-size: 1.8rem;
    font-weight: bold;
    color:#FFFF;
    margin-left:1.4rem;
    padding: 10px;
  }

  .toggle-btn{
    display: flex;
  }

  .nav-items{
    display: none;
    width:100%;
  }

  .nav-items-toggle{
    display: flex;
    width:100%;
  }

  .nav-items-toggle ul{
    width:100%;
    flex-direction: column;
    margin:0;
    padding:0;
  }

  .nav-items-toggle li{
    text-align: center;
    font-size:1.2rem;
    font-weight: bold;
    margin:5px auto 5px auto;
    padding:5px;
  }

  .nav-items-toggle li a{
    text-decoration: none;
    color: #FFFF;
  }

  .nav-items-toggle.active{
    display:flex;
  }


  .about-container{
    height:100%;
    width:100%;
    padding:25px 0 25px 0;
  }

  .about{
    text-align: center;
    margin:40px auto;
    display: block;
    width:90%;
  }
  

  .about-left{
    margin-right:0;
    text-align: center;
  }

  .about-left h1{
    font-size:1.8rem;
    margin:10px auto 10px auto;
    padding:0;
    line-height:1.5em;
  }
  
  .about-left p{
    font-size: 1rem;
    margin:0;
    padding:0;
    line-height:1.5em;
  }

  .icons{ 
    margin-top:10px;
    display:flex;
    justify-content: center;
  }

  .about-right h1{
    font-size:1.8rem;
    text-align: left;
  }

  .about-right p{
    font-size:1rem;
    line-height:1.2em;
    text-align: left;
  }

  .photo{
    width:150px;
    height:150px;
  }

  .about-education-skills-container{
    display:flex;
  }

  .about-education-skills{
    margin-left:70px;
    margin-top:10px;
    width:100%;
  }
  
  .about-education-skills h2{
    font-size:1.4rem;
    margin:20px auto 10px auto;
    padding:0;
    text-align: left;
  }
  
  .about-education-skills h4{
    font-size:1rem;
    margin:5px auto 5px auto;
    padding:0; 
    text-align: left;
  }
  
  .school-icon{
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .about-education-skills p{
    font-size:0.9rem;
    margin:0 0 0 12px;
    padding:0;
    line-height:1.2em;
  }

  .experience-container{
    background-color: #F7F9FB;
    padding: 50px 0 25px 0;
  }

  .experience{
    display:block;
    width:100%;
    margin:0px auto;
  }
  
  .experience-left h1{
    margin:0 0 0 40px;
    font-size:1.8rem;
    padding:0;
  }
  
  .experience-left{
    margin-right:0;
  }

  .experience-right{
    margin:0;
    padding:0;
  }

  .timeline-date{
    margin-bottom:10px;
  }
  
  .experience-card{
    border-radius: 5px;
    padding: 15px;
    margin: 0 0 0 60px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    text-align: left;
    width:100%;
  }
  
  .title{
    font-size:1rem;
    font-weight: bold;
    margin:0;
    padding:0;
  }
  
  .experience-card p{
    font-size: 0.9rem;
  }
  
  .experience-card li{
    font-size: 0.9rem;
    line-height: 1.6rem;
    list-style-type: square;
    padding: 0 0 0 0;
  }
  .timeline > li {
    overflow: hidden;
    margin: 0;
  }
  .timeline-date {
    width: 300px;
    float: left;
    margin-top: 20px;
    font-size: 1rem;
  }
  .timeline-content {
    width: 80%;
    float: left;
    border-left: none;
    padding-left: 0px;
    font-size: 1rem;
  }
  .timeline-content:before {
    display: none;
  }

  .project-container{
    padding: 20px 0 0 0;
  }

  .project{
    width:90%;
    margin:0px auto;
    display: block;
  }
  
  .project-left{
    margin-right:0;
  }
  
  .project-left h1{
    font-size:1.8rem;
    text-align: center;
    margin: 20px 0 20px 0;
    padding:0;
  }
  
  .project-title{
    font-size: 1.1rem;
    font-weight: bold;
  }

  .project-card{
    margin:0;
    padding:0;
  }
  
  .project-card p{
    font-size:0.9rem;
    line-height: 1.6rem;
    text-align: left;
    margin:0 auto 20px auto;;
    padding:0;
  }
  
  .project-card h3{
    font-size:1rem;
    margin:0 0 0 0;
    padding:0;
    text-align: center;
  }

  .code-btn{
    width:180px;
    height:35px;
    background-color: #1b67b9;
    border:none;
    border-radius: 5px;
    padding:5px;
  }

  .button-container{
    text-align: center;
  }
  
  .code-btn-long{
    width:180px;
    height:35px;
    background-color: #1b67b9;
    border:none;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    padding:5px;
  }
  
  .git-icon{
    vertical-align: middle;
    padding-bottom: 10px;
    margin-right:5px;
  }
  
  
  .project-card a{
    font-size: 1rem;
    padding: 3px;
    color: #FFFF;
    text-decoration: none;
  }
  
  .code-btn:hover{
    background-color: #629edd;
  }
  
  .project-card{
    border-radius: 10px;
    padding: 0 1.5rem 1.5rem　1.5rem;
    margin: 0 auto 4rem auto;
    text-align: left;
  }
  
  
  .project-img-container{
    display:block;
    margin: auto;
    text-align: center;
  }
  
  .project-img{
    width: 60%;
    height:300px;
    text-align: center;
  }
  .contact-container{
    background-color: #F7F9FB;
    padding: 20px 0 20px 0;
  }
  
  .contact{
    width:100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .contact-left h1{
    font-size:1.8rem;
  }
  
  .form-input{
    width:80%;
    height: 40px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-indent: 10px;
  }
  
  .form-textarea{
    width:80%;
    height: 200px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-indent: 10px;
  }
  
  .form-btn{
    width:20%;
    height: 35px;
    font-weight: bold;
    margin: 0px auto 20px auto;
  }
  
}